.Container {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: bold;
  color: white;

  margin: 0;
  padding: 0em 0em 6em 0em;
  background-color: #1c1042;
}

.ContainerCard {
  display: flex;
  flex-direction: column;
  margin-top: 0.65em;
  gap: 1em;
}

@media (max-width: 500px) {
  .Container {
  }

  .ContainerCard {
    display: flex;
    flex-direction: column;
    scale: 0.2;
    justify-content: center;
    align-items: center;
  }

  .Bloco {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1030px) {
  .ContainerCard {
    scale: 0.4;
    background-color: red;
    gap: 0;
    margin: 0;
  }
  .Container {
    padding: 0;
    /* height: 800px; */
    background-color: blue;
  }
}

.Bloco {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
}

.Card1 {
  background-color: rgba(52, 52, 52, 0.4);
  width: 780px;
  height: 525px;
  flex-shrink: 0;
  border-radius: 3px;
}

.Card2 {
  background-color: rgba(52, 52, 52, 0.4);
  width: 560px;
  height: 525px;
  flex-shrink: 0;
  border-radius: 3px;
}

.Card3 {
  background-color: rgba(52, 52, 52, 0.4);
  width: 500px;
  height: 380px;
  flex-shrink: 0;
  border-radius: 3px;
}
.Card4 {
  background-color: rgba(52, 52, 52, 0.4);
  width: 270px;
  height: 380px;
  flex-shrink: 0;
  border-radius: 3px;
}

.Card5 {
  background-color: rgba(52, 52, 52, 0.4);
  width: 560px;
  height: 380px;
  flex-shrink: 0;
  border-radius: 3px;
}

.Card6 {
  background-color: rgba(52, 52, 52, 0.4);
  width: 780px;
  height: 380px;
  flex-shrink: 0;
  border-radius: 3px;
}

.Card7 {
  background-color: rgba(52, 52, 52, 0.4);
  width: 560px;
  height: 380px;
  flex-shrink: 0;
  border-radius: 3px;
}

img {
  border-radius: 3px;
  border: none;
}
