.footer {
  background-color: #24184c;
  color: #ffffff;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.col {
  flex: 1;
  list-style: none;
}

.col li {
  list-style: none;
}

.social {
  height: 10px;
  list-style: none;
  display: flex;
  gap: 10px;
}

.social li {
  margin-right: 10px;
  width: 25px;
  height: 50px;
}

.submeter{
  display: flex;
 
}

.email input{
  width: 200px;
  height: 35px;
  border-radius: 7px;
  opacity: 50%;
}

.enviar button{
width: 100px;
height: 40px;
border-radius: 7px;

}

ion-icon {
  height: 22px;
  width: 22px;
  margin-top: 0.55em;
}

ion-icon:hover {
  color: grey;
  transition: 0.5s;
  cursor: pointer;
}
