.sobre {
    background-color: #1C1042;
}
  
  ion-icon {
    color: rgb(255, 255, 255);
    height: 22px;
    width: 22px;
    margin-top: 0.55em;
  margin-right: 7px;
  }
  
  ion-icon:hover {
    color: rgb(226, 218, 218);
    transition: 0.5s;
    cursor: pointer;
  }


