.Card {
  background-color: rgba(52, 52, 52, 0.4);
  border-radius: 10px;
  width: 13em;
  height: 15em;
  position: relative;
  left: 50px;
}




@media(max-width: 770px){
  .Card{
      flex-direction: column;
  }
  .Card img{
      width: 100%;
      height: auto;
      object-fit: cover;
  }
}