.Container {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: bold;
  color: white;

  padding: 0em;
  background-color: #1c1042;
}

.ContainerNovidades {
  display: flex;
  flex-direction: column;
}

.Title {
  margin: 2.75em 4em;
}

.Title h1{
  font-size: 2.3em;
  font-weight: 400;
  margin: 0;
}

.Carrossel img {
  height: 310px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.Card {
  display: flex;
  align-items: center;
  justify-content: center;
}
